version: '3.8'
services:
  mongo:
    image: mongo:6
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    environment:
      MONGO_INITDB_DATABASE: homeboys_swift_db

  backend:
    build: .
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/homeboys_swift_db
      - PORT=3000
      - JWT_SECRET=${JWT_SECRET}
    depends_on:
      - mongo

volumes:
  mongo_data:
